<a href='/cocktails/new' class='btn btn-primary'>Create a new cocktail</a>


<div class="container-flex">
  <div class="row">
    <div class="col-sm-8 col-md-6 col-lg-8">
      <%# <div class="row"> %>
        <%# list %>
        <% if @cocktails.nil? %>
        <p>No cocktails</p>
        <% else %>
        <% @cocktails.each do |cocktail| %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <a href="/cocktails/<%=cocktail.id%>" class="zero-link-style">
            <div class="card" style="background-image: url(<%= cocktail.photo %>)">
              <div class='card-title'><%=cocktail.name%></div>
            </div></a>
            </div>
        <% end %>

        <% end %>

      <%# </div> %>
    </div>
  </div>
</div>