

<p></p>
<div class='container'>
  <div class='row'>
    <h3><%= @cocktail.name %></h3>
  </div>
  <a href='/cocktails/<%= @cocktail.id %>/doses/new' class='btn btn-primary'>Add more ingredients</a>
  <button type='button' class='btn btn-secondary' onclick="window.history.go(-1); return false;">Go back</button>
  <%# list %>
  <div class='row'>
    <ul class="list-group">
      <% if @doses.nil? %>
        <p>No cocktails</p>
      <% else %>
        <% @doses.each do |dose| %>
          <li class="list-group-item"><a href=''><%= dose.description %> | <%= dose.ingredient.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>