.button-main {
  border-radius: 3px;
  background-image: linear-gradient(#CF7C00, #FFC700);
  border: 1px solid #CF7C00;
  padding: 5px 20px;
  color: white;
  font-size: 18pt;
  letter-spacing: 2pt;
  align-self: center;
  margin: 5px;
  cursor: cell;
  transition: all .5s ease-in-out;
}

.button-main:hover {
  box-shadow: 1px 2px 4px #FFC700;
}

.button-secondary {
  border-radius: 3px;
  background-image: linear-gradient(#F5F5F5, #E0E0E0);
  border: 1px solid #CF7C00;
  padding: 5px 20px;
  color: grey;
  font-size: 18pt;
  letter-spacing: 2pt;
  align-self: center;
  margin: 5px;
  transition: all .5s ease-in-out;
}

.button-secondary:hover {
  box-shadow: 1px 2px 4px #CBCBCB;
}