.navbar-background {
  background-color: #282828;
  box-shadow: 1px 1px 5px #FFC700;
  border-radius: 0;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 10px;
}

.logo-main {
  border-radius: 5px;
  font-size: 22pt;
  font-weight: 700;
  letter-spacing: 5px;
  background-image: linear-gradient(#F5F5F5, #E0E0E0);
  color: #CF7C00;
  padding: 3px 10px;
  width: 190px;
  text-align: center;
  margin: 3px;
}

.logo-text {
  border-radius: 5px;
  font-size: 18pt;
  font-weight: 700;
  letter-spacing: 10px;
  color: #CF7C00;
  padding: 10px 0 0 10px;
  text-align: center;
}